job
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -128
      ],
      "id": "69e818b8-c08b-4064-84b9-9a8d1aafa555",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1foLmy3ZVUekim15zHw736fjL7-oQcp_WrTWuze15l6A/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Deals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1foLmy3ZVUekim15zHw736fjL7-oQcp_WrTWuze15l6A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        -128
      ],
      "id": "72293f79-899f-4800-bfc0-900ec1f3f1cf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3TCKrX701rjdvAwS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eec10305-e6c5-4072-be47-e2706f1c4fe0",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        -128
      ],
      "id": "906dd8f4-fb3b-419c-9525-e200df13e044",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.agendor.com.br/v3/organizations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json[\"Email da empresa\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -128
      ],
      "id": "ae057fda-75f8-46bd-b716-343daf173f5d",
      "name": "GET Empresas",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YfarQqpvwYMDl7Fd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.agendor.com.br/v3/organizations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Get row(s) in sheet').item.json['Email da empresa'] }}\",\n  \"contact\": {\n                \"email\":\"{{ $('Get row(s) in sheet').item.json['Email da empresa'] }}\"\n            },\n  \"ownerUser\": \"{{ $('Get row(s) in sheet').item.json['Usuário responsável'] === \"João\" ? \"joaotesteagendor@gmail.com\" : \"mariatesteagendor@gmail.com\" }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -192
      ],
      "id": "113a1fb5-ee1c-47f9-872a-d08d679478d3",
      "name": "POST Empresas",
      "credentials": {
        "httpBearerAuth": {
          "id": "xdFE7JdRjkmoEesY",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "YfarQqpvwYMDl7Fd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.agendor.com.br/v3/organizations/{{ $('GET Empresas1').item.json.data[0].id }}/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Get row(s) in sheet').item.json[\"Título do negócio\"] }}"
            },
            {
              "name": "value",
              "value": "={{ parseInt( $('Get row(s) in sheet').item.json[\"Qtd. de usuários\"].replace(/\\D/g, \"\"), 10) * 75}}"
            },
            {
              "name": "ownerUser",
              "value": "={{ $('GET Empresas1').item.json.data[0].ownerUser.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        -176
      ],
      "id": "a625922c-fecb-4aa5-8815-0c683697b04a",
      "name": "POST Deal da empresa",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YfarQqpvwYMDl7Fd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a165ad91-6e4f-4f1f-bddf-d72ad41a15e8",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        -112
      ],
      "id": "698215a0-b05d-4bf8-be21-2b73e3108335",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://api.agendor.com.br/v3/organizations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Get row(s) in sheet').item.json[\"Email da empresa\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -128
      ],
      "id": "9006a1bd-957f-4495-8def-31acf73bda09",
      "name": "GET Empresas1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YfarQqpvwYMDl7Fd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.agendor.com.br/v3/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Get row(s) in sheet').item.json['Email da empresa'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        -112
      ],
      "id": "698c190b-a073-4f22-872e-6db58232c23d",
      "name": "GET deals filtrado por empresa",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YfarQqpvwYMDl7Fd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1648,
        -16
      ],
      "id": "b3b1db52-151b-479c-bf16-023f7a0fdd17",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "GET Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "POST Empresas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET Empresas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Empresas": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Empresas": {
      "main": [
        [
          {
            "node": "GET Empresas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "POST Deal da empresa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Empresas1": {
      "main": [
        [
          {
            "node": "GET deals filtrado por empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET deals filtrado por empresa": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48ca8ad9fc813e424a3a4a346c598495d1e582054bb7bad44718432caacad2e5"
  }
}
